<div class="footer">
  <div class="footer-links nav_margin">
    <%=
      link_to(
        t(
          "return",
        ),
        root_path, class: "link-decoration"
      )
    %>
  </div>
</div>
