<h1 class='le_collectionist_title'><%= t('le_collectionist') %></h1>

<div class="banner form_new_country">
  <div class="container" id="edit_country_container">
    <div class="row pt-5">
      <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
        <% @shops.each do |shop| %>
          <ul>
            <%= shop.name %>
            <div id='see-schedule'>
              <%=
                link_to(
                  t(
                    "schedule.index.see_schedules",
                  ),
                edit_shop_path(shop), class: "link-decoration", id:'see-schedule')
              %>
            </div>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
